#p_logout {
  position: fixed;
  bottom: 25px;
  right: 15px;
}

#header_stock_name::first-line {
  font-weight: bold;
}

#a_add_stock_done {
  color: red;
  font-size: 12px;
  margin-left: 15px;
}

#a_logout {
  color: blue;
  text-decoration: none;
}

* {
  font-family: Verdana;
  box-sizing: border-box;
}

#w3-modal {
  display:  block;
}



.grid-item-1 {
  border: 1px solid #000;
  height: 100vh;
}

.grid-item-2,.grid-item-3, .grid-item-5 {
  border: none;
}


.grid-item-1 > ul > li:last-child > a {
  font-weight: bold;
}

#time_updated {
  font-size: 13px;
  margin-bottom: 10px;
  color: blue;
}

.stock_list_item {
  float: left;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.stock_list_item:first-of-type {
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 15px;
} 

.stock_item {
  float:left;
  list-style-type: none;
  text-align: right;
  width: 45px;
  font-size: 12px;
}

.stock_item > a {
  font-size: 12px;
}


.grid-container {
  display: inline-grid;
  grid-template-columns: 20% 60% 10% 10%;
  grid-template-rows: 100%;
  height: 120%;
  background-color: white;
}   

.select_stock {
  text-decoration: none;
  color: black;
  font-size: 15px;  
}

.delete_stock {
  color:red;
  font-size: 9px;  
}

#header_title {
  color: black;
  font-size: 75px;
  text-align: center;
  font-family: Simplifica;
  margin:0px;
}

#header_thoughts {
  margin-bottom: 50px;

}

.grid-item-1 {
  background-color: white;
}

.grid-item-1 > ul{
  list-style-type: circle;
}

.grid-item-1 > ul > li{
}

.grid-item-2 {
  background-color: white;
  padding: 5%;
}


.grid-item-3 {
  background-color: white;
  padding: 1px;
} 

.grid-item-5 {
  background-color: white;
} 

.grid-item-3 > p{
  font-size: 10px;
  height: 8px;
  margin: 0;
  font-weight: bold;
} 

.grid-item-3 > input { /*
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #CCC;
  color: #555;
  box-sizing: border-box;
  font-family: 'Arvo';
  font-size: 15px;
  height: 20px;
  left: 50%;
  margin: -25px 0 0 -80px;
  padding: 10px 0px;
  position: relative;
  top: 50%;
  width: 100px;
  font-weight: bolder;
*/
  font-size: 8px;
  padding: 0px;
  margin: 0px;
}

.grid-item-5 > p {
  font-size: 10px;
  margin: 1px;
  height: 8px;
  font-weight: bold;
}

.grid-item-5 > input {
  font-size: 8px;
  padding: 0px;
  margin: 0px;
}

#add_stock {
	margin-left: 20px;
  margin-right:0px;
  font-size: 20px;
  
}

#textarea_stock {
  width: 100%;
  height: 75%;
  border-style: solid; 
  border-color: black; 
  resize: none;
  background-color: #f5f7f7;
}

.p_stock_info {

}

.span_gross {
  color: black;
  font-weight: bolder;
}

.span_loss {
  font-weight: bolder;
  color: red;
}

.span_earn {
  font-weight: bolder;
  color: green;
}

#div_background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/background2.jpg);
  /*background-image: url(https://www.w3schools.com/howto/img_parallax.jpg);*/
  
  height: 100vh;
  width: 100vw;
  position: relative;
}

#div_login {
  position: absolute;
  top: 50%;
  left: 30%;
}

.test {
  --link-color: #e6ebff;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: #f6f6f6;
  border-radius: 3px;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 0px 15px;
  color: #304659;
  height: 45px;
  text-align: left;
  -webkit-appearance: none;
}

.btn {
--link-color: #e6ebff;
box-sizing: border-box;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
outline: none;
background: #d8137f;
color: #fff;
text-decoration: none;
padding: 0px 30px;
text-align: center;
font-size: 17px;
display: inline-block;
border: none;
cursor: pointer;
height: 45px;
margin-bottom: 15px;
-webkit-appearance: none;
}

#div_title {
  position: absolute;
  top: 20%;
  left: 40%;  
}

#div_title h2 {
  --link-color: #e6ebff;
  text-align: center;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 55px;
  line-height: 60px;
  color: #ffff;
  font-weight: 600;
}

#div_copyright {
  position: absolute;
  left: 45%;
  bottom: 0px;
}

.pagination {
  padding: 15px;
}

.pagination > a {
  padding: 5px;
  color: blue;
}

.pagination > a:link {
  color: black;
}

a:visited {
  color: black;
}

.grid-item-1 > ul:last-child > li:last-child {
  margin-bottom: 30px;
}

#div_test {
  display: block;
}

.span_test {
  display: block;
  margin-top: 30px;
}


#stock_list_item_div {
  display: block;
  overflow: auto;
}


@media only screen and (max-width: 600px) {
  .grid-item-1 { grid-area: header; }
  .grid-item-2 { grid-area: menu; }
  .grid-item-3 { grid-area: main; }
  .grid-item-4 { grid-area: right; }
  .grid-item-5 { grid-area: footer; }

  .grid-container {
    padding: 1px;
    display: grid;
    grid-template:
    'header header'
    'menu menu'
    'main footer';
  }

  .grid-item-2 {
    height: 300px;
  }

  .grid-item-1, .grid-item-2,.grid-item-3, .grid-item-5 {
    border-radius: 3px;
  }

  .grid-item-1 {
    height: 100%;
  }

  .stock_list_item {
    font-size: 20px;
    width: 100%;
    display: block;
  }

  .stock_item {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  #textarea_stock {
    resize: none;
    width: 100%;
    height: 40%;
    border-style: solid; 
    border-color: black; 
    background-color: #f5f7f7;
  }
}
